<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ld.bmsys.auth.service.dao.RoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.ld.bmsys.auth.api.entity.RoleMenu">
        <id column="role_menu_id" jdbcType="INTEGER" property="roleMenuId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="menu_id" jdbcType="INTEGER" property="menuId"/>
    </resultMap>
    <sql id="Base_Column_List">
        role_menu_id,
        role_id,
        menu_id
    </sql>
    
</mapper>